<% @page_title = "Reset Password | Login" -%>
<div class="reset_pwd well">
  <fieldset>
    <legend>Reset Password</legend>
    <%= form_for @user, :url => {controller: :users, action: :update_password_reset, id: params[:id]} do |f| %>
      <div class="form-group">
        <%= f.label "password", "Password", {:class => "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.password_field :password, {:class => "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "password_confirmation", "Password Confirmation", {:class => "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.password_field :password_confirmation, {:class => "form-control"} %>
        </div>
        </div>
      </div>
      <%= submit_tag("Update Password", {:class => "btn btn-primary"}) %>

    <% end %>
  </fieldset>
</div>