<% @page_title = "Reset Password" -%>
<div class="reset_pwd well">
  <fieldset>
    <legend>Reset Password</legend>
    <%= form_tag(:action => 'send_reset_password') do %>
      <div class="form-group">
        <%= label_tag "email", "Email Address", {:class => "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= text_field_tag :email, "", {:class => "form-control", :placeholder => "Email Address"} %>
        </div>
      </div>
      <p>Don't have an account yet? <%= link_to "Signup", controller: "users", action: "new" %></p>
      <%= submit_tag("Send Reset Password", {:class => "btn btn-primary"}) %>
    <% end %>
  </fieldset>
</div>