<h2>Results for Survey: "<%= @survey.name %>"</h2>
<p><%= @survey.description %></p>

<% @survey.survey_questions.each_with_index do |question, index| %>
  <div class="well">
    <fieldset>
      <legend><%= "#{index + 1}) #{h question.question}" %></legend>
      <% if question.is_multiple_choice? %>
        <% question.responses_list_array.each do |possible_response| %>
          <%= prettify(possible_response) %>:
          <%= question.responses_for_value(possible_response).count %>
          <br />
        <% end %>
      <% else %>
        <% question.survey_responses.each do |response| %>
          <p><%= response.response %></p>
          <hr />
        <% end %>
      <% end %>
    </fieldset>
  </div>
<% end %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>