<h2><%= @survey.name %></h2>

<%= form_for(@survey, :url => submit_survey_survey_path) do |f| %>
  <table>
    <thead>
      <tr>
        <td>Questions</td>
        <td>Answer</td>
      </tr>
    </thead>
    <tbody>
      <% @survey.survey_questions.each do |question| %>
        <tr>
          <td><%= question.question %></td>
          <td>
          <%= f.fields_for :survey_questions, question do |q| %>
            <%= q.hidden_field :question, value: question.question %>
            <%= q.fields_for :survey_responses, question.survey_responses.build do |a| %>
              <% if question.is_multiple_choice? %>
                <% question.response_list.split(",").each do |response| %>
                  <%= a.radio_button :response, response %>
                  <%= a.label :response, prettify(response) %>
                <% end %>
              <% elsif question.is_text_response? %>
                <%= a.text_area :response %>
              <% end %>
              <%= a.hidden_field :user_id, value: current_user.id %>
            <% end %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit "Submit Survey" %>
  </div>
<% end %>