<div class="well">
  <fieldset>
    <legend><%= @survey.name %></legend>

    <%= form_for(@survey, :url => submit_survey_survey_path) do |f| %>
      <% @survey.survey_questions.each do |question| %>
        <div class="form-group">
        <%= label_tag "username_or_email", question.question, {:class => "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.fields_for :survey_questions, question do |q| %>
            <%= q.hidden_field :question, value: question.question %>
            <%= q.fields_for :survey_responses, question.survey_responses.build do |a| %>
              <% if question.is_multiple_choice? %>
                <% question.response_list.split(",").each do |response| %>
                  <div class="radio">
                    <%= a.label "response_#{response}", prettify(response) %>
                    <%= a.radio_button :response, response %>
                  </div>
                <% end %>
              <% elsif question.is_text_response? %>
                <%= a.text_area :response, {:class => "form-control", :rows => "3"} %>
              <% end %>
              <%= a.hidden_field :user_id, value: current_user.id %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Submit Survey", {:class => "btn btn-primary"} %>
      </div>
    <% end %>
  </fieldset>
</div>
<script>
  mixpanel.track("Start Survey", {'survey': "<%= @survey.name %> "});
</script>