<!DOCTYPE html>
<html>
<head>
  <title>Ruby Tuesdays</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if !Rails.env.development? %>
    <!-- start Mixpanel -->
      <script type="text/javascript">
        (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
      b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
      mixpanel.init("5c60a8fbf3c2436d05551c33011c15b7");

      var default_data = { referrer: document.referrer};
      </script>
    <!-- end Mixpanel -->
  <% end %>
</head>
<body>
  <div class="container">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="icon-home"></i> Home</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Days <b class="caret"></b></a>
              <ul id="days" class="dropdown-menu">
                <li><%= link_to "Day One: Setting Up Your Environment", controller: "days", action: "one" %></li>
              </ul>
            </li>
            <li><a id="nav_external" href="http://www.pace.edu/continuing-professional-education/walking-then-running-ruby-rails">Pace University Course</a></li>
            <li><a id="nav_email" href="mailto:profjuliegill@gmail.com?Subject=Ruby%20Class" target="_top"><i class="icon-question-sign"></i> Email Prof</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
              <ul id="nav_resources" class="dropdown-menu">
                <li><a href="https://github.com/JulieTheThrill/rubyonrails"><i class="icon-github"></i> This Website's Git Repository</a></li>
                <li class="divider"></li>
                <li><a href="https://www.google.com/"><i class="icon-info-sign"></i> Google</a></li>
                <li><a href="http://www.zenspider.com/Languages/Ruby/QuickRef.html"><i class="icon-info-sign"></i> Ruby Quick Reference</a></li>
                <li><a href="http://guides.rubyonrails.org/"><i class="icon-info-sign"></i> Rails Guides</a></li>
                <li class="divider"></li>
                <li><a href="http://railscasts.com/"><i class="icon-facetime-video"></i> RailsCasts</a></li>
                <li><a href="http://git-scm.com/video/what-is-git"><i class="icon-facetime-video"></i> Git Help Videos</a></li>
                <li><a href="http://www.youtube.com/GitHubGuides"><i class="icon-facetime-video"></i> Github Help Videos</a></li>
                <li class="divider"></li>
                <li><a href="http://www.codecademy.com/tracks/ruby"><i class="icon-puzzle-piece"></i> Ruby on CodeAcademy</a></li>
                <li><a href="http://railsforzombies.org/"><i class="icon-puzzle-piece"></i> Rails Zombies Tutorial</a></li>
              </ul>

              <% if current_user %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/logout">Log Out</a></li>
                  <% if user_is_admin %>
                    <li><a href="/surveys">View Surveys</a></li>
                  <% end %>
                </ul>
              </li>
              <% else %>
                <li><a href="/login">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>
              <% end %>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <% if flash[:notice] %>
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>
          <%= flash[:notice] %>
        </p>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>
          <%= flash[:error] %>
        </p>
      </div>
    <% end %>


    <%= yield %>

    <% if current_user %>
      <script>
        mixpanel.identify("<%= current_user.id %>");
        mixpanel.people.set({
            "First name": "<%= current_user.first_name %>",
            "Last name": "<%= current_user.last_name %>",
            "Signup date": "<%= current_user.created_at %>",
            "$email": "<%= current_user.email %>"
        });
      </script>
    <% end %>

    <script>
      mixpanel.track_links("#nav_external a", "Click Course Link", default_data);
      mixpanel.track_links("#nav_email a", "Click To Email Prof", default_data);
      mixpanel.track_links("#nav_resources a", "Click Resource Link", default_data);
      mixpanel.track_links("#days a", "Click Days Link", default_data);
    </script>

  </div>
</body>
</html>
